In [14]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql


username = 'root'
password = '12345'
host = 'localhost'
port = '3306'
database = 'rangpur_riders_bpl_cricket_squad'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = '12345'
host = 'localhost'
port = '3306'
database = 'rangpur_riders_bpl_cricket_squad_wh'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/rangpur_riders_bpl_cricket_squad_wh)

In [16]:
df = pd.read_sql_query("""select * from squad_information;""",mysql_engine)

In [17]:
print(df)

                    Name  Age Batter Bowler Allrounder Wicketkeeper  \
0             Babar Azam   28    yes     no         no           no
1           Brandon King   28    yes     no         no           no
2            Nurul Hasan   29    yes     no         no          yes
3      Nicholas Pooran\n   27    yes     no         no          yes
4          Rony Talukdar   32    yes     no         no           no
5   \nAzmatullah Omarzai   23     no     no        yes           no
6         \nFazle Mahmud   35     no     no        yes           no
7         \nMahedi Hasan   28     no     no        yes           no
8         Michael Rippon   32     no     no        yes           no
9      \nShakib Al Hasan   36     no     no        yes           no
10      \nShamim Hossain   23     no     no        yes           no
11           \nAbu Hider   27     no    yes         no           no
12         \nHasan Murad   22     no    yes         no           no
13        \nRipon Mondol   20     no    yes         no           no
14          \nIhsanullah   20     no    yes         no           no
15   Matheesha Pathirana   20     no    yes         no           no
16      \nYasir Mohammad   20     no    yes         no           no
17         Ashiqur Zaman   21     no    yes         no           no
18        \nHasan Mahmud   24     no    yes         no           no

        Country  Total T20 Match  Total T20 Run  Total T20 Wicket  Player ID
0      Pakistan              276           9795                 4          1
1   West Indies              127           2960                 0          2
2    Bangladesh              177           2380                 0          3
3   West Indies              305           6277                 0          4
4    Bangladesh              112           2178                 0          5
5   Afghanistan               72            744                67          6
6    Bangladesh               50            846                 0          7
7    Bangladesh              133           1511               111          8
8   New Zealand              103            942                86          9
9    Bangladesh              418           6958               468         10
10   Bangladesh               75           1112                 8         11
11   Bangladesh               85            338                66         12
12   Bangladesh               20             18                13         13
13   Bangladesh                8              9                14         14
14     Pakistan               24             36                 8         15
15    Sri Lanka               31             38                17         16
16      America                3             16                 3         17
17   Bangladesh                3              0                 0         18
18   Bangladesh               57             61                26         19

In [18]:
df.to_sql(
        name = 'squad_information',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

19